:root {
  --primary-color: #af7eeb;
}

body {
  min-height: 100vh;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d7e0ff;
  font-family: "Poppins", sans-serif;
  color: #151521;
}

.container {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-top: 6px solid var(--primary-color);
}

.title {
  text-align: center;
  padding: 0.6rem 0;
}

.input-cont {
  margin: 2rem 0;
}

button {
  background: var(--primary-color);
  border: none;
}

i {
  font-size: 1.2rem;
  margin: 0 2px;
  vertical-align: middle;
}

.submit-btn {
  width: 80px;
  height: 45px;
  padding: 0;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 1rem;
}

input[type="text"] {
  width: 400px;
  height: 32px;
  margin: 0 0.5rem 0 0;
  padding: 6px;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 1rem;
}

.task-item {
  background-color: var(--primary-color);
  border-radius: 8px;
  margin: 0.5rem 0;
  padding: 0.5rem;

  display: flex;
  justify-content: space-between;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0.5rem 1rem;
  cursor: pointer; 
}

.task-count {
  font-size: 14px;
}
